@import url("./styles.css");

.games_table {
    overflow: auto;
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
}

.games_table th {
    color: var(--main-color);
    font-size: medium;
    padding: 10px 5px;
    white-space: nowrap;
}

.games_table td {
    font-size: small;
    font-weight: bold;
    padding: 10px 5px;
}

.invis_button {
    visibility: hidden;
}

.games_table_td_container:hover button {
    visibility: visible;
    color: var(--main-color);
    border: none;
    background-color: var(--secondary-color);
}

.games_table_td_container:hover {
    background-color: var(--secondary-color);
}

.games_table table {
    height: 100%;
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
    border-spacing: 1px;
    text-align: left;
}

.games_table tr {
    border-bottom: 2px solid var(--main-color);
    border-top: 2px solid var(--main-color);
    font-size: small;

}

.games_table .games_table-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.games_table_td_container {
    display: flex;
    align-items: center;
    padding: 10px;
}

.games_table_td_container p {
    margin-right: auto;
    min-width: 40%;
}

.games_table_bottom button {
    color: var(--main-color);
    border: none;
    background-color: var(--secondary-color);
    padding: 1%;
    border-radius: 0 10px 10px;
    margin-top: 3%;
    font-size: small;
}

.right_td {
    text-align: right;
}

.games_table tbody tr td button {
    color: black;
    border: none;
    background-color: inherit;
    padding: 0;
    font-weight: bold;
    font-size: small;
}

.games_table tbody tr td button:hover {
    text-decoration: underline;
}

.add_game_btn {
    display: flex;
    justify-content: space-between;
    font-size: medium;
    margin: 20px 0;
    align-items: center;
}

.add_game_btn h2 {
    color: var(--main-color);
}

.games_table button {
    color: var(--main-color);
    border: none;
    font-size: medium;
    background-color: inherit;
    white-space: nowrap;
}

.add_game_btn button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.games_table_bottom button {
    color: var(--main-color);
    border: none;
    background-color: var(--secondary-color);
    padding: 1%;
    border-radius: 0 10px 10px;
    margin-top: 3%;
    font-size: small;
    cursor: pointer;
}

.hover {
	cursor: pointer;
}