@font-face {
  font-family: "Paris2024";
  src: url("../fonts/Paris2024-Variable.ttf");
}

:root {
  --main-color: #F65252;
  --secondary-color: #F7E8EA;
}

* {
  font-family: "Paris2024", sans-serif;
  padding: 0;
  margin: 0;
}

header {
    color: var(--main-color);
    background-color: var(--secondary-color);
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 30px;
}

header p {
    margin-left: 3%;
    justify-content: center;
}

header img {
    width: 80px;
    margin-right: auto;
}

header form button {
    color:var(--main-color);
    background-color: inherit;
    border: none;
    padding: 0;
    font-size: medium;
    margin-left: 3%;
    cursor: pointer;
}


header form {
    margin-left: 3%;
}

header button:hover {
    text-decoration: underline;
}

.error {
	color: var(--main-color);
}