<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Buy tickets</title>
	<link rel="stylesheet" th:href="@{/css/buyTickets.css}">
	<link rel="icon" type="image/x-icon" th:href="@{/images/paris-favicon.ico}">
</head>
<body>
	<header th:include="navbar :: navigation"></header>
	<form th:action="|/sports/${sport.id}/games/${game.id}/buy|" method="post" th:object="${ticketService}" class="buy_form">
<!-- 		<h2 th:text="|Buy tickets for the ${sport.name} game on ${game.date} here!|"></h2> -->
		<label for="amount"><b>AMOUNT OF TICKETS</b></label>
        <input required type="number" id="amount" name="amount">
<!-- 	        <input type="hidden" th:name="ticket.id" th:value="${ticket.id}"> -->
		<span th:if="${#fields.hasErrors('amount')}" th:errorclass="error" th:errors="*{amount}"></span>
		<div class="button_form">
           	<a th:href="|/sports/${sport.id}/games|" class="outline">&lt; BACK</a>
               <button type="submit" class="buy_submit">BUY TICKETS</button>
           </div>
	</form>
</body>
</html>