<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title th:text="${pageTitleText}"></title>
	<link rel="stylesheet" th:href="@{/css/gamesTable.css}">
	<link rel="icon" type="image/x-icon" href="/images/paris-favicon.ico">
</head>
<body>
	<header th:include="navbar :: navigation"></header>
    <div class="games_table">
        <h4 th:if="${user.role.toString() == 'USER' && amountBought != null}" th:text="|&gt; ${amountBought} TICKETS WERE PURCHASED FOR THE ${game.sport.name.toUpperCase()} GAME ON ${{game.date}} &lt;|"></h4>
        <table>
            <div class="add_game_btn">
                <h2 th:text="|${sport.name} ${titleText}|"></h2>
                <a th:if="${user.role.toString() == 'ADMIN'}" th:href="|/sports/${sport.id}/games/add|">
                	<button th:text="${buttonAddGameText}"></button>
                </a>
            </div>
            <thead>
                <tr>
                    <th th:if="${user.role.toString() == 'USER'}"></th>
                    <th th:text="${tableHeadDateText}"></th>
                    <th th:text="${tableHeadTimeText}"></th>
                    <th th:text="${tableHeadLocationText}"></th>
                    <th th:text="${tableHeadDisciplineText}"></th>
                    <th th:text="${tableHeadPriceText}" class="right_td"></th>
                    <th th:text="${tableHeadAvailableText}" class="right_td"></th>
                    <th th:if="${user.role.toString() == 'USER'}" th:text="${tableHeadBoughtText}" class="right_td"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="game: ${games}">
                    <td th:if="${user.role.toString() == 'USER'}">
                    	<a th:href="|/sports/${sport.id}/games/${game.id}/buy|">
                        	<button th:text="${buttonBuyText}" class="hover"></button>
                        </a>
                    </td>
                    <td th:text="${{game.date}}"></td>
                    <td th:text="${game.time}"></td>
                    <td th:text="${game.location.name}"></td>
					<td th:text="${#strings.listJoin(game.disciplines.![name], ', ')}"></td>
                    <td th:text="${user.role.toString() == 'USER' && game.amountLeft == 0 ? '' : '€ ' + #numbers.formatDecimal(game.price, 0, 2)}" class="right_td">
                    <td th:text="${game.amountLeft}" class="right_td"></td>
                    <td th:if="${user.role.toString() == 'USER'}" class="right_td" >
                    	<span th:each="ticket : ${user.tickets}" th:if="${ticket.game.id == game.id && ticket.amount > 0}">
                    		<span th:text="${ticket.amount}"></span>
                    	</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="games_table_bottom">
        	<a href="/sports">
	            <button th:text="${buttonBackText}"></button>
	        </a>
        </div>
    </div>
</body>
</html>