<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>My Tickets</title>
	<link rel="stylesheet" th:href="@{/css/myTickets.css}">
	<link rel="icon" type="image/x-icon" href="/images/paris-favicon.ico">
</head>
<body>
	<header th:include="navbar :: navigation"></header>
    <div class="tickets_table">
        <table>
            <div class="add_game_btn">
                <h2>TICKETS</h2>
            </div>
            <thead>
                <tr>
                    <th>SPORT</th>
                    <th>DATE</th>
                    <th>TIME</th>
                    <th>DISCIPLINE</th>
                    <th>LOCATION</th>
                    <th class="right_td">AMOUNT</th>
                    <th class="right_td">PRICE</th>
                    <th class="right_td">TOTAL PRICE</th>
                </tr>
            </thead>
            <tbody>
				<tr th:each="ticket : ${tickets}">
                    <td th:text="${ticket.game.sport.name}"></td>
                    <td th:text="${{ticket.game.date}}"></td>
                    <td th:text="${ticket.game.time}"></td>
                    <td th:text="${#strings.listJoin(ticket.game.disciplines.![name], ', ')}"></td>
                    <td th:text="${ticket.game.location.name}"></td>
                    <td th:text="${ticket.amount}" class="right_td"></td>
                    <td th:text="|€ ${#numbers.formatDecimal(ticket.game.price, 0, 2)}|" class="right_td"></td>
                    <td th:text="|€ ${#numbers.formatDecimal(ticket.game.price * ticket.amount, 0, 2)}|" class="right_td"></td>
                </tr>
            </tbody>
        </table>
        <div class="sports_table_bottom">
       		<a href="/sports">
	            <button >
	                &lt; BACK </button>
	        </a>	
        </div>
    </div>
</body>
</html>