<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Add game</title>
	<link rel="stylesheet" th:href="@{/css/newGame.css}">
	<link rel="icon" type="image/x-icon" href="/images/paris-favicon.ico">
</head>
<body>
	<header th:include="navbar :: navigation"></header>
    <form th:action="|/sports/${sport.id}/games/add|" th:object="${game}" method="post" class="game_form">
<!-- 		<input type="hidden" name="id" th:value="${sport.id}" /> -->
        <div class="container">
        	<h2 th:text="|NEW GAME FOR ${sport.name.toUpperCase()}|"></h2>
            <label for="date"><b>DATE</b></label>
            <input required type="date" name="date" id="date" th:field="*{date}">
			<span th:if="${#fields.hasErrors('date')}" th:errorclass="error" th:errors="*{date}"></span>
			</br>
            <label for="time"><b>TIME</b></label>
            <input required type="time" name="time" id="time" th:field="*{time}">
			<span th:if="${#fields.hasErrors('time')}" th:errorclass="error" th:errors="*{time}"></span>
			</br>
			
            <label for="location"><b>LOCATION</b></label>
            <select name="locations" id="locations" th:field="*{location}" required>
                <option th:each="location : ${locations}" th:value="${location.id}" th:text=${location.name}></option>
            </select>
			<span th:if="${#fields.hasErrors('location')}" th:errorclass="error" th:errors="*{location}"></span>
			</br>
            <label for="disciplines"><b>DISCIPLINE</b></label>
            <caption>ctrl + click to select multiple options</caption>
            <select name="disciplines" id="disciplines" multiple>
            	<option>No disciplines</option>
                <option th:each="discipline : ${disciplines}" th:value="${discipline.id}" th:text="${discipline.name}"></option>
            </select>
            <span th:if="${#fields.hasErrors('disciplines')}" th:errorclass="error" th:errors="*{disciplines}"></span>
<!--			TODO misschien best 2 dropdowns gelijk location voor validatie? idk wa het makkelijkste ga zijn-->
			</br>
            <label for="olympicNrOne"><b>OLYMPIC NUMBER ONE</b></label>
            <input required type="number" id="olympicNrOne" th:field="*{olympicNrOne}" name="ololympicNrOneymNr1">
			<span th:if="${#fields.hasErrors('olympicNrOne')}" th:errorclass="error" th:errors="*{olympicNrOne}"></span>
			</br>
            <label for="olympicNrTwo"><b>OLYMPIC NUMBER TWO</b></label>
            <input required type="number" id="olympicNrTwo" name="olympicNrTwo" th:field="*{olympicNrTwo}">
			<span th:if="${#fields.hasErrors('olympicNrTwo')}" th:errorclass="error" th:errors="*{olympicNrTwo}"></span>
			</br>
            <label for="price"><b>PRICE &lpar;&euro;&rpar;</b></label>
            <input required type="number" id="price" name="price" th:field="*{price}" step="0.01">
			<span th:if="${#fields.hasErrors('price')}" th:errorclass="error" th:errors="*{price}"></span>
			</br>
            <label for="seats"><b>AMOUT OF SEATS</b></label>
            <input required type="number" id="seats" name="seats" th:field="*{amountAvailable}">
			<span th:if="${#fields.hasErrors('amountAvailable')}" th:errorclass="error" th:errors="*{amountAvailable}"></span>
			</br>
            <div class="button_form">
            	<a th:href="|/sports/${sport.id}/games|" class="outline">&lt; BACK</a>
                <button type="submit" class="game_submit">ADD GAME</button>
            </div>
        </div>
        <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
    </form>
</body>
</html>