<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Sports</title>
	<link rel="stylesheet" th:href="@{/css/sportsTable.css}">
</head>
<body>
	<header>
		<img src="/images/flame.png" alt="logo">
		<p th:text="${role}"></p>
		<p th:text="${email}"></p>
		<form th:action="@{/logout}" method="post">
				<input type="submit" value="Logout" />
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		</form>
	</header>
	<div class="sports_table">
		<table>
			<h2>OLYMPIC SPORTS</h2>
			<tbody>
				<tr th:each="sport : ${sportsList}">
					<td>
						<div class="sports_table_td_container">
							<p th:text=${sport.name}></p>
							<a th:href="|/sports/${sport.id}/games|">
								<button class="invis_button">GO TO GAMES ></button>
							</a>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
<!-- 		TODO deze th:if werkt for some reason niet! -->
		<div th:if="${role == 'USER'}" class="sports_table_bottom">
			<a th:href="@{/myTickets}">
				<button>My Tickets</button>
			</a>
		</div>
	</div>
</body>
</html>